*.aux
*.bbl
cache/
*.log
*.synctex*
*.fls
*.fdb_latexmk
.*aux
*-concordance.tex
*.blg
*.out

ms_jss.Rproj
.Rproj.user
.directory

revision3_2581/README.txt
revision3_2581/article.tex
revision3_2581/bookreview.tex
revision3_2581/codesnippet.tex
revision3_2581/jss.bst
revision3_2581/jss.cls
revision3_2581/jss.dtx
revision3_2581/jss.pdf
revision3_2581/jsslogo.jpg
revision3_2581/softwarereview.tex

